html,
body {
  -webkit-text-size-adjust: none;
  background-color: var(--color-background);
  color: var(--color-background-content);
  font-family: var(--font-family);
  line-height: 1.4;
  overflow: initial;
  text-size-adjust: none;
  margin: 0;

  /* display: flex; */
  /* flex-direction: column; */

  width: 100%;
}

:where(a) {
  display: inline-block;

  &:hover {
    filter: brightness(0.8);
  }
}

:where(main) {
  width: 100%;
  /* flex-direction: column; */
}

:where(h1) {
  margin-block-start: var(--quad-size);
}
