.nav {
    /* border-block-end: 1px solid var(--color-border); */
    padding: var(--default-size);
    display: flex;
    align-items: center;
    justify-content: space-between;

    & ul {
        --gap: var(--default-size);
        gap: var(--gap);
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
