/* main:has(.searches__input-container) { */
/*   display: flex; */
/*   flex-direction: column; */
/*   justify-content: end; */
/* } */

.searches__input-container {
  margin-block-start: 30vh;

  & * {
    border-radius: 0;
  }

  & > :first-child {
    position: relative;

    & input {
      font-size: var(--font-large-responsive);
      padding-block: var(--default-size);
      height: 100%;
    }

    & button {
      inset-inline-end: 0;
      position: absolute;
      height: 100%;
      aspect-ratio: 1 / 1;
    }
  }
}

.searches__actions {
  color: var(--color-muted-content);
  height: 3rem;

  & a {
    text-decoration: none;
  }

  & > div {
    line-height: 1;
    padding-inline: var(--default-size);
    width: 33.33%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.searches__input-container:has(.searches__filters:open)
  .searches__toggle-filters {
  padding-inline-start: var(--half-size);
  border-inline-start: 0.25rem solid var(--color-background-content);
}

.searches__filters {
  font-size: var(--font-medium);

  &:open {
    border-block-start: 1px solid var(--color-border);
  }
}

.searches__filter-fieldset {
}

.searches__filter-field {
  display: flex;
  align-items: center;

  & > :first-child {
    width: 50%;
    flex: 0 0 auto;
  }

  & > div:last-child {
    display: flex;
    align-items: center;
  }

  & > :last-child {
    & > input {
      --input-height: 2.5rem;
    }
    --input-height: 2.5rem;
    /* height: 2.5rem; */
    width: 50%;
    flex: 0 0 auto;
  }
}
