/* main:has(.searches__input-container) { */
/*   display: flex; */
/*   flex-direction: column; */
/*   justify-content: end; */
/* } */

.searches__input-container {
  margin-block-start: 30vh;

  & * {
    border-radius: 0;
  }

  & input {
    font-size: var(--font-large-responsive);
    padding-block: var(--default-size);
    height: 100%;
  }

  & > :first-child {
    position: relative;
    & button {
      inset-inline-end: 0;
      position: absolute;
      height: 100%;
      aspect-ratio: 1 / 1;
    }
  }
}

.searches__input-filters {
  color: var(--color-muted-content);
  height: 3rem;

  & a {
    text-decoration: none;
  }

  & > div {
    line-height: 1;
    padding-inline: var(--default-size);
    width: 33.33%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.searches__filters-panel {
  &:open {
    border-block-start: 1px solid var(--color-border);
  }
}
