:where(.badge) {
  --badge-background: var(--color-background-content);
  --badge-content: var(--color-background);
  background-color: var(--badge-background);
  color: var(--badge-content);
  padding-inline: var(--half-size);
  padding-block: var(--quarter-size);
  display: flex;
  width: fit-content;
  align-items: center;
  text-transform: uppercase;
  font-size: var(--font-small);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.1ch;
  border-radius: var(--small-radius);

  &.primary {
    --badge-background: var(--color-success);
    /* --badge-content: var(--color-background-content); */
  }

  &:has(.badge__counter) {
    padding: 0;

    & > * {
      padding-inline: var(--half-size);
      padding-block: var(--quarter-size);
    }
  }

  & .badge__counter {
    display: block;
    border-inline-end: 1px solid var(--color-background);
  }
}
