.badge {
  --badge-background: var(--color-background-content);
  --badge-content: var(--color-background);
  background-color: var(--badge-background);
  color: var(--badge-content);
  padding-inline: var(--half-size);
  padding-block: var(--quarter-size);
  display: flex;
  width: fit-content;
  align-items: center;
  text-transform: uppercase;
  font-size: var(--font-small);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.1ch;
  border-radius: var(--small-radius);
  text-decoration: none;
  line-height: 1.3;
  border: 0;
  /* border-radius: 0; */

  &.exclude {
    &:focus-visible {
      outline: var(--color-outline) solid 1px;
      outline-offset: 2px;
      position: relative;
      z-index: 10;
    }
  }

  &.primary {
    --badge-background: var(--color-success);
  }

  &.information {
    --badge-background: var(--color-blue);
  }

  & > * {
    height: 1.5rem;
  }

  &:has(> *) {
    padding: 0;

    & > *:not(svg) {
      padding-inline: var(--half-size);
      padding-block: var(--quarter-size);
    }
  }

  & > *:not(:last-child) {
    border-inline-end: 1px solid var(--color-background);
  }

  & .badge__counter::before {
    content: counter(search-counter, decimal-leading-zero);
  }

  & .badge__icon {
    background-color: var(--color-blue);
    line-height: 0;
  }
}
